/* ********* min-width 720 ********* */

@media screen and (min-width: 720px){
    
    .sidebar{
        flex-basis: 300px;
    }

    .d-m-none{
        display: none;
    }

    .d-m-block{
        display: block;
    }

    .d-m-inblock{
        display: inline-block;
    }

    .account{
        border-top: 2px solid gray;
        padding-top: 10px;
    }
}

/* ********* min-width 970 ********* */

@media screen and (min-width: 970px){

    .card{
        flex-basis: 25%;
    }


}

/* ********* min-width 1440 ********* */

@media screen and (min-width: 1440px){

    .card{
        flex-basis: calc(100% / 6);
    }
}