/*? CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #fff;
    font-family: Montserrat;
}

ul{
    list-style-type: none;
    text-align: center;
}

li{
    margin: 10px 0 ;
}

/*? Utily */

.flex{
    display: flex;
}

.button{
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 20px;
}

/* ? Generic */

.top-content{
    height: calc(100vh - 100px);
}

.sidebar{
    flex-basis: 50px;
    flex-shrink: 0;
    background-color: #000;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-size: 30px;
    padding: 10px 0;
}

main{
    overflow: auto;
    flex-grow: 1;
    background-color: #141922;
}

header{
    background-color: #080B12;
    height: 100px;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;

}

footer{
    background-color: #282828;
    height: 100px;
}

/* ! sidebar */

.playlist{
    display: none;
}

