/*? CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #fff;
    font-family: Montserrat,sans-serif;
}

ul{
    list-style-type: none;
    text-align: center;
}

li{
    margin: 10px 0 ;
}

a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

img{
    max-width: 100%;
    display: block;
}

/*? Utily */

.flex{
    display: flex;
}

.button{
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 12px;
}

.d-none{
    display: none;
}

.bgc-grey{
    background-color: grey;
}

/* ? Generic */

.top-content{
    height: calc(100vh - 100px);
}

.sidebar{
    flex-basis: 50px;
    flex-shrink: 0;
    background-color: #000;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
}

main{
    overflow: auto;
    flex-grow: 1;
    background-color: #141922;
}

header{
    background-color: #080B12;
    opacity: 0.9;
    height: 80px;
    padding-right: 20px;

    justify-content: flex-end;
    align-items: center;

    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
}

footer{
    background-color: #282828;
    height: 100px;
}

/* ! sidebar */

.top-sidebar{
    width: 100%;
}

.playlist{
    display: none;
}

img.icon-profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* ? main */

/* ! header */


/* ! nav-bar */

.navbar-list{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    opacity: 0.5;
}

/* .navbar-list li{
    flex-basis: 25%;
    
} */

/* ! playlist-main */

.container{
    max-width: 450px;
    margin: 0 auto;
}

.deck-title{
    margin-bottom: 20px;
}

.deck{
    flex-wrap: wrap;
    margin: 0 -10px;
}

.card{
    flex-basis: 50%;
    padding: 0 10px;
    margin-bottom: 10px;
}

.card-profile{
    margin-bottom: 20px;
}

.card-info{
    text-align: center;
    text-transform: capitalize;
}

.card-title{
    margin-bottom: 10px;
}

.subtitle{
    color: #727579;
}

.b-radius50{
    border-radius: 50%;
}

/* ! footer */

.playbar{
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.song{
    flex-basis: 20%;
    justify-content: center;
    align-items: center;
}

.song-img img{
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}

.song-title h3{
    font-size: 12px;
    opacity: 0.5;
}

.controls{
    flex-basis: 60%;
}

.control-button{
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    margin-bottom: 10px;
}

.control-bar{
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.progress-bar{
    height: 5px;
    background-color: #dedede;

    flex-basis: 80%;
}

.timebar{
    height: 100%;
    width: 30%;
    background-color: red;
}

.control-volume{
    flex-basis: 20%;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.volumebar{
    height: 100%;
    width: 80%;
    background-color: green;
}
