/*? CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #fff;
    font-family: Montserrat,sans-serif;
}

ul{
    list-style-type: none;
}

li{
    margin: 10px 0 ;
}

a{
    color: #fff;
    text-decoration: none;

/*     align-content: center;
 */}

img{
    max-width: 100%;
    display: inline-block;
}

.icone{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/*? Utily */

.flex{
    display: flex;
}

.button{
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 12px;
}

.d-none{
    display: none;
}

.bgc-grey{
    background-color: grey;
}

.margin-left10{
    margin-left: 10px;
}

/* ? Generic */

.top-content{
    height: calc(100vh - 100px);
}

.sidebar{
    flex-basis: 50px;
    flex-shrink: 0;
    max-height: 100%;
    background-color: #000;
    flex-direction: column;
    justify-content: space-between;

    padding: 10px;
}

main{
    overflow: auto;
    flex-grow: 1;
    background-color: #141922;
}

header{
    background-color: #080B12;
    opacity: 0.9;
    height: 100px;
    padding-right: 20px;

    justify-content: flex-end;
    align-items: center;

    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
}

footer{
    background-color: #282828;
    height: 100px;
}

/* ! sidebar */

#logo{
    margin-bottom: 30px;
}

.top-sidebar{
    width: 100%;
}

img.icon-profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


.navbar-text{
    font-size: 20px;
    align-self: center;
    text-transform: capitalize;
}

/* playlist */

.playlist{
    margin-top: 10px;
    overflow: auto;
}

#title-playlist{
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    font-weight: 800;
}

.playlist li{
    margin: 20px 0;
}

.playlist span{
    font-size: 20px;
    opacity: 0.5;
    align-self: center;
}

.bot-sidebar span{
    align-self: center;
    margin-left: 10px;
    opacity: 0.5;
}

/* ? main */

/* ! header */

header .button{
    font-size: 20px;
}

/* ! nav-bar */

.navbar-list{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    opacity: 0.5;
    font-size: 18px;
    text-transform: uppercase;
}

.navbar-list li{
    padding: 10px;
}

/* ! playlist-main */

.playlist-main{
    padding: 20px;
}

.deck-title{
    margin-bottom: 20px;
}

.deck{
    flex-wrap: wrap;
    margin: 0 -10px;
}

.card{
    flex-basis: 50%;
    padding: 0 10px;
    margin-bottom: 10px;
}

.card-profile{
    margin-bottom: 20px;
}

.card-info{
    text-align: center;
    text-transform: capitalize;
}

.card-title{
    margin-bottom: 10px;
}

.subtitle{
    color: #727579;
}

.b-radius50{
    border-radius: 50%;
}

/* ! footer */

.playbar{
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.song{
    flex-basis: 20%;
    align-items: center;
}

.song-img img{
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}

.song-title h3{
    font-size: 12px;
    opacity: 0.5;
}

.controls{
    flex-basis: 60%;
}

.control-button{
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    margin-bottom: 10px;
}

.control-bar{
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.progress-bar{
    height: 5px;
    background-color: #dedede;

    flex-basis: 80%;
}

.timebar{
    height: 100%;
    width: 30%;
    background-color: red;
}

.control-volume{
    flex-basis: 20%;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

.progress-volumebar{
    width: 100px;
    height: 5px;
    background-color: #dedede;
}

.volumebar{
    height: 100%;
    width: 80%;
    background-color: green;
}
